# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.env

# Large data artifacts (handled by Git LFS)
*.pkl
*.joblib
